body {
    color: white;
}

#question {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    margin-left:2rem;
    margin-right:2rem;

}

.btns{
    margin: 2rem;
    font-size: 3rem;
    text-align: center;
}

.btns_choice{
    padding: 5px 18px;
    font-size: 3rem;
    background-color: #479baa;
    margin-left: 2rem;
}

.btns_choice:hover {
    color: var(--bgfont);
  }


.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background-color: var(--straw);
    font-size: 3.5rem;
    min-width: 70rem;
    height: 4rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 1rem 2.5rem;
    color: var(--marine);
}

.choice-text {
    padding: 1rem;
    width: 100%;
    color: var(--marine);
    font-weight: 400;
}

.correct {
    background-color: var(--grasshopper);
}

.incorrect {
    background-color: var(--terraCotta);    
}

/* Head-up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.hud-main-text {
    text-align: center;
   
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--grasshopper);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: var(--grasshopper);
    width: 0%;
}

/* Smaller Screens */

@media screen and (max-width: 768px) {
    
    .choice-container {
        min-width: 40rem;
    }


}