/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* color variables used throughout the site */
:root {
    background-color: var(--marine);
    --eggshell: #F4F1DE;
    --terraCotta: #E07A5F;
    --marine: #3D405B;
    --grasshopper: #81B29A;
    --straw: #F2CC8F;
    --blackcherry: #540b0e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* makes 1rem = 10px and 1.6rem = 16px */
    font-family: 'Oswald', sans-serif;

}

h1 {
 font-size: 6.4rem;
 color: white;
 margin-bottom: 5rem;
 font-weight: 200;
}

.intro-text {
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
font-size: 4.2rem;
margin-bottom: 4rem;
color: white;
font-weight: 400;
}

.subheading{
    text-align: center;
}

h3 {
    font-size: 3rem;
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-center {
    justify-content: center;
    align-items: center;
}

justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;

}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: var(--straw);
    color: var(--marine);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transition 150ms;
    transform: scale(1.03);
    background-color: var(--eggshell);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background-color: var(--grasshopper);
}

#highscore-btn:hover {
    background-color: var(--eggshell);
}

/* End Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
}

input::placeholder {
    color: #adb5bd;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

#saveScoreBtn {
    border: none;

}

/* Progress Bar*/

.circlechart {
    float: left;
    padding: 20px;
    margin-top:20rem;
    margin-left:20rem;
}


.circle-chart {
    width: 150px;
    height: 150px;
  }
  
  .circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; 
    transform: rotate(-90deg);
    transform-origin: center; 
  }
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg); 
  }
  
  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  .circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
  }
  
  .circle-chart__subline {
      text-anchor: middle;
      font-size: 4px;
      font-weight: bold;
      color: darkgreen;
  }
  
  .high-stroke {
    stroke: #00C851;
  }
  
  .medium-stroke {
    stroke: #ffbb33;
  }
  
  .low-stroke {
    stroke: #ff4444;
  }
  
  
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.resultval{
    display: block;
    margin-top: 42rem;
    position: absolute;
    left:20rem;
}

.score_heading{
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 16rem;
    left: 19rem;

}

.main{
    display: flex;
}

@media screen and (max-width: 500px) {
    
    .main{
        display: block;
    }

    .circlechart {
        padding: 20px;
        margin-top:15rem;
        margin-left:11rem;
    }
    .score_heading{
        color: white;
        font-size: 3rem;
        position: absolute;
        top: 10rem;
        left: 9rem;
    
    }
    .resultval{
        display: block;
        margin-top: 36rem;
        position: absolute;
        left: 9rem;
    }
    #finalScore{
        margin-top: 15rem;
    }

}